/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  opacity: 0.8;
  padding: 0.8em;
}

/* POLLS COMPONENT  */

.polls {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  margin-top: 20px;
  border: 2px solid #a1a1a1;
  border-radius: 3px;
}

.polls-header {
  display: flex;
  border-bottom: 2px solid #a1a1a1;
}

.polls-header button {
  width: 50%;
  padding: 15px;
  border: none;
  background-color: white;
  font-weight: bold;
}

.polls-header button:hover {
  cursor: pointer;
  background-color: #efefef;
}

.polls-header button:first-child {
  border-right: 2px solid #a1a1a1;
}

.polls-header button.active {
  background-color: #efefef;
  color: cadetblue;
  outline: none;
}

.polls-list {
  padding: 15px;
}

.polls-list .card {
  margin-bottom: 15px;
}

.polls-list .card:last-child {
  margin-bottom: 0;
}

/* CARD COMPONENT */

.card {
  border: 2px solid #a1a1a1;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.card-title {
  padding: 10px;
  border-bottom: 2px solid #a5a5a5;
  background-color: #f7f7f7;
  font-weight: bold;
}

.card-content {
  padding: 15px;
}

/* VIEW POLL COMPONENT */

.view-poll {
  display: flex;
}

.view-poll img {
  width: 20%;
  padding-right: 15px;
  border-right: 1px solid #a5a5a5;
}

.view-poll-extract {
  margin-left: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.view-poll-extract h4 {
  margin-top: 0;
}

/* Button styles */

.btn {
  width: 100%;
  padding: 3px;
  border-radius: 3px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.btn:disabled {
  border-color: gray;
  background-color: gray;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled:hover {
  cursor: not-allowed;
  border-color: gray;
  background-color: gray;
}

.btn-default {
  background-color: white;
  border: 2px solid #009688;
  color: #009688;
}

.btn-default:hover {
  background-color: #00aa9a;
  color: white;
}

.btn-primary {
  width: 100%;
  padding: 3px;
  background-color: #009688;
  border: 2px solid #009688;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.btn-primary:hover {
  background-color: #00aa9a;
  cursor: pointer;
}

/* BADGE STYLES */

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 2px 5px;
  border-radius: 10px;
  line-height: 1.5;
}

.badge-success {
  background-color: cadetblue;
  color: white;
}

/* POLL COMPONENT */

.poll-card {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.poll {
  display: flex;
}

.poll img {
  width: 20%;
  padding-right: 15px;
  border-right: 1px solid #a5a5a5;
}

.poll-questions {
  margin-left: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.poll-questions h3 {
  margin-top: 0;
}

.poll-questions .question {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.poll-questions .question:last-of-type {
  margin-bottom: 15px;
}

.poll-questions .question>label {
  margin-left: 5px;
}

/* POLL RESULTS COMPONENT */

.poll-results {
  margin-left: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.poll-results h3 {
  margin-top: 0;
}

.poll-option {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.poll-option:first-of-type {
  margin-bottom: 15px;
}

.poll-option h4 {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #a5a5a5;
}

.poll-option b {
  text-align: center;
  margin-bottom: 15px;
}

/* ADD QUESTION COMPONENT */

.card-new-question {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.card-new-question .card-title {
  text-align: center;
}

.add-question-form h4 {
  margin: 15px 0 5px 0;
}

.add-question-form input {
  width: 100%;
  padding: 5px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 5px 0;
}

.add-question-form .btn {
  margin-top: 10px;
  padding: 6px;
}

/* LOGIN COMPONENT */

.card-login {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.card-login .card-title {
  text-align: center;
}

.card-login img {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.card-login h4 {
  margin-bottom: 10px;
}

.login-form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.login-form .btn {
  padding: 6px;
}

/* LEADERBOARD COMPONENT */

.leaderboard {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.user-summary {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  border: 2px solid #a1a1a1;
  border-radius: 3px;
}

.user-summary img {
  width: 20%;
  padding-right: 15px;
  border-right: 1px solid #a5a5a5;
}

.user-summary .questions-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  margin-left: 15px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #a5a5a5;
}

.user-summary .questions-info div:first-of-type {
  padding-bottom: 5px;
  border-bottom: 1px solid #a1a1a1;
}

.user-summary h4 {
  margin-top: 0;
}

.card-score {
  width: 20%;
}

.card-score .card-title {
  text-align: center;
}

.card-score .card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-score .card-content .score {
  background-color: cadetblue;
  padding: 10px 14px;
  border-radius: 50%;
  color: white;
  line-height: 1;
}

/* NAV COMPONENT */

.nav {
  display: flex;
  justify-content: center;
  padding: 15px 25px 0;
  border-bottom: 3px solid #5f9ea0;
  height: 51px;
  box-sizing: border-box;
}

.nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav ul li:not(:first-child) {
  margin-left: 10px;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  padding: 5px 10px;
  display: block;
}

.nav ul li a:hover, .nav ul li a.active {
  background-color: cadetblue;
  color: white;
  border-radius: 10px 10px 0 0;
}

.auth-info {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.auth-info img {
  width: 1.5em;
  margin-left: 5px;
  margin-bottom: 5px;
}

.auth-info a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  padding: 5px 10px;
  display: block;
  margin-left: 15px;
}

.auth-info a:hover {
  text-decoration: underline;
}

/* UTILITY */

.hide {
  visibility: hidden;
}